<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Image</title>
</head>
<body>
    <form method="post" action="/posts" >
        <input name="image" type="file"> <br><br>
        <textarea name="caption" id="" cols="30" rows="10" placeholder="Write caption here"></textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>